In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

In [3]:
page

In [4]:
soup=BeautifulSoup(page.content)

In [5]:
rating=soup.find_all('td',class_="table-body__cell rating")

In [6]:
Ratings=[]

In [7]:
Rating=soup.find('div',class_="rankings-block__banner--rating")

In [8]:
Ratings.append(Rating.text)

In [9]:
for i in rating:
    Ratings.append(i.text)

In [10]:
name=soup.find('div',class_="rankings-block__banner--name-large")

In [11]:
Player_name=[]

In [12]:
Player_name.append(name.text)

In [13]:
Name=soup.find_all('td',class_="table-body__cell rankings-table__name name")

In [14]:
for i in Name:
    for j in i.find_all('a',href=True):
        Player_name.append(j.text)

In [15]:
Teams=[]

In [16]:
team=soup.find('div',class_="rankings-block__banner--nationality")

In [17]:
Teams.append(team.text.replace("\n","").strip())

In [18]:
Team=soup.find_all('span',class_="table-body__logo-text")

In [19]:
for i in Team:
    Teams.append(i.text)

In [20]:
Top_ODI_Bowlers=pd.DataFrame({})

In [21]:
Top_ODI_Bowlers['Player Name']=Player_name
Top_ODI_Bowlers['Team']=Teams
Top_ODI_Bowlers['Rating']=Ratings

In [22]:
Top_10_ODI_bowlers=Top_ODI_Bowlers[0:10]

In [23]:
Top_10_ODI_bowlers.index=Top_10_ODI_bowlers.index+1

In [24]:
Top_10_ODI_bowlers.index.name='Ranking'

In [25]:
Top_10_ODI_bowlers

              Player Name Team Rating
Ranking
1             Trent Boult   NZ    737
2          Josh Hazlewood  AUS    709
3        Mujeeb Ur Rahman  AFG    708
4            Chris Woakes  ENG    700
5            Mehedi Hasan  BAN    692
6              Matt Henry   NZ    691
7          Jasprit Bumrah  IND    679
8          Mitchell Starc  AUS    652
9         Shakib Al Hasan  BAN    650
10          Kagiso Rabada   SA    646